nav ul {
  display: flex;
  border: 2px solid white;
  width: 50%;
  background-color: rgb(29, 117, 218);
  border-radius: 8px;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
  padding: 10px 10px;
}
nav ul li:hover {
  background-color: lightskyblue;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

.dot {
  float: left;
  display: block;
  text-align: left;

  margin: 0;
  padding: 14px;
}
nav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 16px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 35%;
}
